/* ########################################################################### */
                            /* IMPORTS */
/* ########################################################################### */


/* Fonts */

/* Kumbh Sans */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* font-family: 'Kumbh Sans', sans-serif; */


/* ########################################################################### */
                            /* VARIABLES */
/* ########################################################################### */


:root {


  /* Font Family */
  --main-font-family: 'Kumbh Sans', sans-serif;


  /* Font Weights */
  --fw-regular: 400;
  --fw-bold: 700;


  /* Font Size */
  --main-font-size: 16px;


  /* COLORS */


  /* Primary-Colors */
  --main-highlight-color: hsl(26, 100%, 55%);
  --main-light-color: hsl(25, 100%, 94%);


  /* Nuetral-Colors */
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --lightbox-background-color: hsl(0, 0%, 0%);


}


/* ########################################################################### */
                            /* MAIN STYLES */
/* ########################################################################### */


/* html */
html {
  font-size: var(--main-font-size);
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* body */
body {
  font-family: var(--main-font-family);
  font-weight: var(--fw-regular);
}


/* Main Container */
.main-container {
  /* height: 56.25rem; */
  background-color: var(--white);
}


/* Navbar */
.navbar {
  width: 20.4375rem;
  height: 1.5rem;
  margin: 1.1875rem auto 1.5625rem auto;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}


/* Menu and Logo Container */
.menu-and-logo-container {
  width: 10.59375rem;
  display: flex;
  align-items: center;
}


/* Hamburger Icon */
.hamburger-icon {
  width: 1rem;
  height: 0.9375rem;
  background-image: url(../images/icon-menu.svg);
}


/* Main Logo */
.main-logo {
  width: 8.59375rem;
  height: 1.25rem;
  margin-left: 1rem;
  margin-bottom: 0.25rem;
  background-image: url(../images/logo.svg);
}


/* Cart and Avatar Container */
.cart-and-avatar-container {
  width: 4.25rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Cart Icon */
.cart-icon {
  width: 1.36375rem;
  height: 1.25rem;
  background-image: url(../images/icon-cart.svg);
}


/* Avatar */
.avatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-image: url(../images/image-avatar.png);
  background-position: center;
  background-size: contain;
}


/* Lightbox Container */
.lightbox-container {
  width: 100vw;
  height: 18.75rem;
  background-image: url(../images/image-product-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Arrow Icons */
.arrow-icon {
  width: 2.5rem; 
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--white);
  background-repeat: no-repeat;
  background-position: center;
}


/* Previous Icon */
.previous-icon {
  margin-left: 1rem;
  background-image: url(../images/icon-previous.svg);
}


/* Next Icon */
.next-icon {
  margin-right: 1rem;
  background-image: url(../images/icon-next.svg);
}


/* Main INfo Container */
.main-info-container {
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}


/* Company Name Copy */
.company-name-copy {
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  line-height: 0.9375rem;
  letter-spacing: 0.115384rem;
  text-transform: uppercase;
  color: var(--main-highlight-color);
}


/* h1 Main Headline */
.main-headline {
  font-size: 1.75rem;
  font-weight: var(--fw-bold);
  line-height: 2rem;
  color: var(--very-dark-blue);
  margin-top: 1.1875rem;
}


/* Main Info Copy */
.main-info-copy {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: var(--dark-grayish-blue);
  margin-top: 0.9375rem;
  margin-bottom: 1.5rem;
}
